.PostWrapper {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    flex: 1 0 49%;
    box-sizing: border-box;
    margin-right: 1%;
}

.PostHeader {
   color: #0c5390;
   border-bottom: 1px solid #0c5390;
   font-size: 28px;
   font-style: italic;
   margin-top: 5px ;
}

.PostBody {
    text-align: left;
}