.HeaderWrapper {
    display: flex;
    flex-direction: column;
    background-color: #3a678d;
    min-height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    border-radius: 0 0 5px 5px;
    padding-top: 30px ;
    background-position: bottom;
    // background-attachment: fixed;
}



.HeaderTopSide {
    padding: 0 15%;
    display: flex;
    flex: 1;
}


.MainLogo {
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.MainHeaderTitle {
    text-align: center;
    flex: 1;
    margin: 0;
}

 
.NavBar {
    padding: 5px 15%;
    background-color: #0086a5;
    height: 100%;
    border-radius: 0 0 5px 5px;
}

.NavBar > a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}